services:
  apiservice:
    build:
      dockerfile: KaruRestauranteWebApp.ApiService/Dockerfile
    ports:
      - "5001:8080"
    environment:
      - ConnectionStrings__DefaultConnection=Server=host.docker.internal,1433;Database=dbWebAppRestauranteKaru;User Id = Karu; Password=Karu05#.;TrustServerCertificate=True;
    extra_hosts:
      - "host.docker.internal:host-gateway"
    restart: always  # reinicio automático

  webfrontend:
    build: 
      dockerfile: KaruRestauranteWebApp.Web/Dockerfile
    ports:
      - "5000:8080"
    depends_on:
      - apiservice
    environment:
      - API_BASE_URL=http://apiservice:8080
    restart: always  # reinicio automático
